* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "Jersey 10", cursive;
  font-size: 2.5rem;
}

body {
  background-color: #fafbfc;
  color: #333333;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 30px;
}

nav a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
}

.mobile-menu {
  display: none;
}

section {
  min-height: calc(100vh - 80px);
  /*cała wysokość strony minus wysokość nawigacji*/
  padding: 50px 60px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 48px;
    color: #333333;
  }

  h2 {
    font-size: 38px;
    color: #333333;
  }

  h3 {
    font-size: 28px;
    color: #333333;
  }

  p {
    margin-top: 10px;
    line-height: 1.8;
    font-size: 1.1rem;
    color: #333333;
  }
}

.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at 20% 30%, #91185d1c 0%, transparent 50%), radial-gradient(circle at 80% 20%, #63bee493 0%, transparent 50%),
      radial-gradient(circle at 60% 70%, #8e7feead 0%, transparent 50%),
      radial-gradient(circle at 10% 80%, rgba(211, 111, 211, 0.646) 0%, transparent 50%);
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, black 30%, rgba(0, 0, 0, 0.5) 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 30%, rgba(0, 0, 0, 0.5) 60%, transparent 100%);
    pointer-events: none;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

.hero-content {
  max-width: 1300px;
  align-self: flex-start;
  margin-left: 45px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 1400px;
  text-align: center;
}

.container-items {
  margin-top: 80px;
  display: flex;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.item-color {
  position: relative;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    width: 80px;
    height: 80px;
    background-color: var(--color);
    border-radius: 6px;
    transform: scale(1.2);
    pointer-events: none;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
  }

  &:hover {
    transform: scale(1.5);
    z-index: 99999;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &:active::after {
    transform: scale(1.1);
  }
}

.item-color:hover + * {
  transform: scale(1.3);
  z-index: 9999;
}

.item-color:hover + * + * {
  transform: scale(1.15);
  z-index: 999;
}

.item-color:has(+ *:hover) {
  transform: scale(1.3);
  z-index: 9999;
}

.item-color:has(+ * + *:hover) {
  transform: scale(1.15);
  z-index: 999;
}

.psychology-content {
  h3 {
    margin-top: 50px;
  }
}

table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

tr th {
  background-color: #e7acdf6d;
  padding: 10px;
}

tr td {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  filter: blur(4px);
  transition: filter 200ms ease;
}

tr td:hover {
  filter: blur(0);
}

tr td:first-child {
  filter: blur(0);
}

.rule {
  .percent {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
  }
}

.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: calc(50% - 4rem);
  --grad: #dd4b96, #91185c;
  padding: 1.25rem;
  background-image: linear-gradient(to bottom left, #e7acdf6d, #dd4b965c);
  /* background-color: #e7acdf6d;*/
  border-radius: 2rem;
  gap: 0.75rem;
  display: grid;
  grid-template: "title icon" "content content" "bar bar" / 1fr auto;
  color: #333333;
  box-shadow:
    inset -2px 2px hsl(0 0 100% / 1),
    -7px 7px 15px hsla(0, 0%, 0%, 0.066);

  .title {
    font-size: 1.2rem;
    grid-area: title;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    word-break: break-all;
  }
  .content {
    p {
      font-size: 1rem;
    }

    grid-area: content;

    & > *:first-child {
      margin-top: 0rem;
    }

    & > *:last-child {
      margin-bottom: 0rem;
    }
  }

  &::after {
    content: "";
    grid-area: bar;
    height: 3px;
    background-image: linear-gradient(90deg, var(--grad));
  }
}

.item-title {
  font-size: 1rem;
  max-width: 800px;
  margin-top: 20px;
  color: #333333;
}

.templates {
  width: 100%;
  max-width: 1400px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.template {
  background-color: var(--sixty);
  color: var(--thrity);
  padding: 1.5rem;
  border-radius: 10px;
  width: calc(100% / 3 - 2rem);
  box-shadow: 3px 3px 10px hsl(0deg 1.4% 3.55% / 10%);

  p.form-title {
    color: var(--thrity);
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: bold;
  }

  p.form-subtitle {
    font-size: 0.9rem;
    color: var(--thrity);
    opacity: 0.8;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  button.submit {
    background-color: var(--ten);
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 200ms ease;
    box-shadow: 0px 3px 0px hsl(0deg 1.4% 3.55% / 10%);

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.socialmedia {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1.5rem;

  button {
    background-color: var(--sixty);
    border-radius: 6px;
    padding: 5px 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 200ms ease;
    border: 1px solid var(--thrity);
    color: var(--thrity);
    box-shadow: 0px 3px 0px hsl(0deg 1.4% 3.55% / 10%);

    &:hover {
      filter: brightness(0.9);
    }

    svg {
      width: 20px;
      height: 20px;
      fill: var(--thrity);
    }
  }
}

.divider {
  display: flex;
  gap: 10px;
  margin: 2rem 0;
  align-items: center;

  p {
    font-size: 0.9rem;
    margin-top: 0;
    text-transform: uppercase;
    color: var(--thrity);
  }

  span {
    /* flex grow robi tak że zajmuje całą możliwą dostępną przestrzeń */
    flex-grow: 1;
    height: 1px;
    background-color: var(--thrity);
    opacity: 0.5;
  }
}

.form {
  display: flex;
  flex-direction: column;

  input {
    padding: 0.25rem 0.65rem;
    border: 1px solid var(--thrity);
    color: var(--thrity);
    border-radius: 6px;
    font-size: 0.85rem;
    outline: none;
    box-shadow: 0px 3px 0px hsl(0deg 1.4% 3.55% / 10%);
  }

  input::placeholder {
    color: var(--thrity);
  }
}

.friend {
  display: flex;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--thrity);
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
}

.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0;
    color: var(--thrity);
  }

  .friend-name {
    font-size: 0.95rem;
  }

  .friend-mail {
    margin-top: -5px;
    opacity: 0.8;
    font-size: 0.8rem;
  }
}

.chatroom {
  display: flex;
  flex-direction: column;
  height: 100%;

  gap: 15px;

  .messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .message {
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 75%;
    box-shadow: 0px 3px 0px hsl(0deg 1.4% 3.55% / 10%);
  }

  .message.from-me {
    background-color: var(--thrity);
    color: white;
    align-self: flex-end;
  }

  .message.from-friend {
    background-color: white;
    color: var(--thrity);
    align-self: flex-start;
  }
}

.send {
  position: relative;

  input {
    padding: 0.45rem 0.75rem;
    border: 1px solid var(--thrity);
    color: var(--thrity);
    border-radius: 6px;
    font-size: 0.85rem;
    outline: none;
    box-shadow: 0px 3px 0px hsl(0deg 1.4% 3.55% / 10%);
    width: 100%;
  }

  input::placeholder {
    color: var(--thrity);
  }

  button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--ten);
    color: white;
    border: none;
    padding: 0.1rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 200ms ease;
    box-shadow: 0px 3px 0px hsl(0deg 1.4% 3.55% / 10%);

    &:hover {
      filter: brightness(0.9);
    }

    svg {
      --size: 25px;
      width: var(--size);
      height: var(--size);
    }
  }
}

.calc {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .kcal {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 2.25rem;
      font-weight: bold;
      margin: 0;
      color: var(--thrity);
    }

    span {
      margin: 0;
      margin-top: -10px;
      font-size: 1rem;
      opacity: 0.8;
    }
  }

  button {
    background-color: white;
    border: 2px solid var(--thrity);
    height: 28px;
    width: 28px;
    min-width: 28px;
    font-weight: bold;
    color: var(--thrity);
    font-size: 1.3rem;
    border-radius: 50%;
    font-size: 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: filter 200ms ease;
    box-shadow: 0px 3px 0px hsl(0deg 1.4% 3.55% / 10%);

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.graph {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  min-height: 200px;
  padding: 0.5rem 0;
  padding-top: 1.5rem;
  align-items: flex-end;

  div {
    width: 100%;
    height: var(--h);
    border-radius: 8px;
    background-color: var(--thrity);
  }
}
.color_harmony {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proportions-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  flex-direction: column;
  max-width: 900px;
  font-size: 1.05rem;
}

.pickers {
  display: flex;
  gap: 2rem;
  margin-top: 30px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    justify-content: flex-end;
  }

  .emoji {
    width: 55px;
    height: 55px;
  }

  input[type="color"] {
    border: none;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }
}

footer {
  margin-top: 160px;
  background-color: #91185c;
  color: white;
  text-align: center;
  padding: 15px 0;
}

@media screen and (max-width: 1100px) {
  :root {
    font-size: 14px;
  }

  section {
    h1 {
      font-size: 2.6rem;
    }

    h2 {
      font-size: 2.3rem;
    }

    h3 {
      font-size: 1.4rem;
    }
  }

  .template {
    width: calc(50% - 1rem);
  }

  .template:last-child {
    width: 100%;
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
  .color_harmony {
    flex-direction: column;
  }
  .hero-content {
    margin-left: 0px;
  }

  .burger {
    display: grid;
    place-items: center;
    background: none;
    border: none;

    svg {
      --size: 30px;
      width: var(--size);
      height: var(--size);
      cursor: pointer;
    }
  }

  .mobile-menu {
    display: flex;
    background-color: white;
    z-index: 999;
    list-style: none;
    gap: 20px;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -200%;
    transition: right 200ms ease-in;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .mobile-menu.active {
    right: 0;
  }

  .desktop-menu {
    display: none;
  }

  section {
    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-size: 2.3rem;
    }

    h3 {
      font-size: 1.4rem;
    }
  }

  section {
    padding: 100px 20px;
  }

  .card {
    width: 100%;
  }

  .template {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .container-items {
    flex-wrap: wrap;
    justify-content: center;
  }
}
